<h3>Cart</h3>

<div *ngFor="let item of items; let i = index">
  <div class="cartItem">
    <span>{{ item.product['name'] }}</span>
    <span><button (click)="Sub(i)">-</button></span>
    <span>{{ item.amount }}</span>
    <span><button (click)="Add(i)">+</button></span>
    <span *ngIf="item.product['salePrice']">{{ item.product['salePrice'] * item.amount | currency:'CHF ' }}</span>
    <span *ngIf="!item.product['salePrice']">{{ item.product['salePrice'] * item.amount | currency:'CHF ' }}</span>
  </div>
</div>
